body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;

    
}
                                           /*########Header Section###########*/
#header div{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 175px 307px;
}

#header{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
        url(images/header.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
}
 
h1{
    font-size: 50px;
}

.button{
    background-color:rgb(243, 87, 59);
    text-decoration: none;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 5px;
}

.quote{
    font-family: 'Arima', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
                                        /*################### Section-2 ############# */
#section-2{
    padding-top: 100px;
    text-align: center;
}

h2{
    font-size: 40px;
}
#section-2 p{
    font-size: 20px;
    color: #979696;
}

#amount-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 55%;
    padding-top: 20px;
    color: #575757;
    font-size: 30px;

}

.baby-amount{
    padding: 30px 15px;
    background-color: #f1f1f18a;
}

#selected-amount{
    background-color: rgb(255, 217, 210);
    border: 2px solid tomato;
}

#section-2 .amount{

    padding: 0px;
    border-width: 0 0 2px;
    border-color: #808080;
    width:55%;
    height: 50px;
    margin-bottom: 30px;
    outline: none;
    text-align: center;
}
input::placeholder {
    text-align: center;
}
.button-2 {
    background-color: rgb(243, 87, 59);
    text-decoration: none;
    padding: 15px 20px;
    color: aliceblue;
    border-radius: 10px;
    width: 150px;
    border: none;

    
}
                                                 /*################## Donate Plans##########*/
#plan-section{
    margin-top: 120px;
    
}
#plans-header{
    text-align: center;
    margin-bottom: 50px;
}
#plans-flex-container{
    display: flex;
    max-width: 80%;
   justify-content: space-between;
   margin: auto;
    
}
.flex-item{
    padding: 20px 20px;
    width: 30%;
    margin-left: 3%;
    border-radius: 20px;
    text-align: left;
    
    
}

#food{
    background-color: rgb(232, 255, 255);
    
}
#shelter {
    background-color: rgba(255, 227, 232, 0.763);
}
#education {
    background-color: lightgoldenrodyellow;
}
.flex-item img{
    width: 50px; 
}

.flex-item p{
    color: #575757;
    font-size: 15px;
}
                                          /*################ Update Section ########### */
#update-section{
    text-align: center;
    margin-top: 100px;
}

.mail::placeholder{
    text-align: left;
    color: gray;
}
#update-section form{
  background-color: lightyellow;
  width: 50%;
  display: inline-block;
  height: 170px;
}

#update-section form input.mail{
    width: 40%;
    height: 43px;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px;
    background-color: #e0dede;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 60px;
}
#update-section form input.subscribe {
    margin-left: -7px;
    background-color: rgb(243, 87, 59);
    padding: 15px 15px;
    color: aliceblue;
    width: 150px;
    border-style: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
                                                    /*################## Footer #########*/
footer{
    background-color: #0B0D17;
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 45px 0px;
    margin-top: 100px;
}

footer h3{
    font-family: Bradley Hand, cursive;
    color: #FF5959;
    font-size: 36px;
}                                                    
footer p{
    font-family: 'Manrope',sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 300;
}